a{
	color:white;
	text-decoration: none;
}
.header{
	background-color: #181818;
}
.header_top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #181818;
	padding:20px 15% 20px 15%;
}
.header_bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #1B1B1B;
	padding:40px 15% 40px 15%;
	color: white;
}
.header_top__text{
	color:white;
	weight: 400;
	size: 14px;
	display: flex;
    align-items: center;
}
.header_top__links a{
	padding-right:30px;
}
.header_bottom__logo{
	font-weight: 600;
	font-size: 30px;
	display: flex;
    align-items: center;
}
.header_bottom__logo img{
	padding-right:10px;
}
.nav{
	display: flex;
    align-items: center;
}
.nav__item{
	padding-right:30px;
	font-weight:17px;
	font-size:18px;
	transition: all 0.3s ease;
}
.nav__item:hover{
	color:#5AB612;
}
.btn_icon{
	background-color: white;
	color:black;
}
.btn__icon{
  	background-color: #FFC32B;
}

@media(max-width:1250px){
	.header_bottom{
		flex-direction: column;
	}
	.header_bottom__logo, .nav {
		justify-content: center;
		margin-bottom:20px;
	}
	.btn_icon{
		width:fit-content;
		margin: auto;
	}
}

@media(max-width:950px){
	.header_top{
		flex-direction: column;
	}
	.header_top__text{
		justify-content: center;
		margin-bottom:20px;
	}
	.header_top__links{
		margin:auto;
	}
}

@media(max-width:600px){
	.nav{
		flex-direction: column;
	}
	.nav__item{
		margin-bottom:20px;
		padding-right:0px;
	}
}