.blog{
	display: flex;
	justify-content: space-between;
}
.article{
	width:45%;
	margin-bottom:50px;
}
.article__img{
	border-radius: 20px;
	width: 100%;
}
.article__title{
	font-weight:600;
	font-size:30px;
	margin-top:15px;
	line-height: 34px;
}
.article__annotation{
	font-weight:400;
	font-size:16px;
	margin-top:10px;
}
.article__bottom{
	display: flex;
	margin-top:20px;
	align-items: center;
	justify-content: space-between;
	font-weight: 400;
	font-size: 16px;
	border-bottom:1px solid #C1C1C1;
	border-top:1px solid #C1C1C1;
	padding-top:10px;
	padding-bottom: 10px;
}
.article__author_img img{
	border-radius: 50%;
	margin-right:5px;
}
.article__btn{
	background-color: #F5F5F5;
	color: black;
	border:1px solid #C1C1C1;
	transition:all 0.2s ease;
}
.article__btn:hover{
	color:white;
	background-color: black;
}

@media(max-width:1100px){
	.blog{
		flex-direction: column;
		align-items: center;
	}
	.article{
		width: 90%;
	}
}