.btn{
  padding: 8px 20px 8px 20px;
  border-radius: 42px;
  align-items: center;
  cursor: pointer;
}
.btn_icon{
  display: flex;
  padding: 8px 10px 8px 10px;
  border-radius: 42px;
  align-items: center;
  cursor: pointer;
}
.btn__icon{
  border-radius: 50%;
  width:43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:10px;
}